<!DOCTYPE html>
<html>
<head>
    <title>Resume - Add</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>.right{float: right; margin-left:57px;}</style>
</head>
<body>
<h1>Add New Resume Info</h1>
<form action="/resume/triinsert" method="get" >
    <div style="width:400px; margin-left:10px;">
        <fieldset style="margin-top:10px;">
                <label for = "rname">Resume Name: <input style="margin-left:30px;" class="right" name="rname" type="text" />
                <br />
                <br />
                Skills
                <br/>
                    <% for(var i=0; skill.length > i; i++ ) { %>
                    <input type="checkbox" name="skill_name" value="<%= skill[i].skill_name %>"> <%= skill[i].skill_name %>
                    <br />
                    <% } %>
                <input type="submit" style="color: green; background-color: cyan;"/>

        </fieldset>
    </div>
</form>
</body>
</html>