<!DOCTYPE html>
<html>
<head>
    <title>Skill - ADD</title>
</head>
<body>
<h1>Edit Skill</h1>
<form action="/skill/update" method="get">
    Skill Name: <input id="skill_name"  name="skill_name" type="text" value="<%= skill.skill_name%>"  />
    <br />
    Skill Description: <input id="description"  name="description"  type="text"  value="<%= skill.description %>" />

<br />
            <% for(var i=0; skill_result.length > i; i++ ) {
                var checked ="";

                if(skill_result[i].skill_id != null) {
                    checked = "checked";
                }
            %>

        <br />
        <% } %>
    <input type="submit" />
    <input type="hidden" id="skill_id" name="skill_id" value="<%= skill.skill_id %>" />

</form>
</body>
</html>