<!DOCTYPE html>
<html>
<head>
    <title>Address - ADD</title>
</head>
<body>
<h1>Add New Address</h1>
<form action="/address/insert" method="get">
    Address Name: <input name="street" type="text" />
    <br />
    <input type="submit" />
</form>
</body>
</html>