<!DOCTYPE html>
<html>
<head>
    <title>Address - View All</title>
</head>
<body>
<h1>Address</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Street</th>
        <th>Zip Code</th>
    </tr>
    <% for(var i =0; i< address.length; i++) { %>
    <tr>
        <td><%= address[i].address_id %></td>
        <td><%= address[i].street %></td>
        <td><%= address[i].zip_code %></td>


    <td>
        <a href='/address/edit/?address_id=<%= address[i].address_id %>'>
            Edit
        </a>
        </td>
        </tr>
        <% } %>

</table>
</body>
</html>