<!DOCTYPE html>
<html>
<head>
    <title>School - View All</title>
</head>
<body>
<h1>School</h1>
<a href="/school/add">Add New School</a> <br />
<table border="1">
    <tr>
        <th>School ID</th>
        <th>School Name</th>
        <th>Address Id</th>
    </tr>
    <% for(var i =0; i< school.length; i++) { %>
    <tr>
        <td><%= school[i].school_id %></td>
        <td><%= school[i].school_name %></td>
        <td><%= school[i].address_id %></td>


    <td>
    <a href='/school/edit/?school_id=<%= school[i].school_id %>'>
        Edit
     </td>
     </tr>
      <tr>
    <% } %>
    </a>

    </tr>
</table>
</body>
</html>