<!DOCTYPE html>
<html>
<head>
    <title>School - ADD</title>
</head>
<body>
<h1>Edit School</h1>


<form action="/school/update" method="get">
    School Name: <input id="school_name" name="school_name" type="text" value="<%= school_result.school_name%>" />
    <br/>
    Address ID: <input id="address_id" name="address_id" type="text" value="<%= school_result.address_id %>" />
    <% for(var i=0; school_result.length > i; i++ ) {
        var checked ="";

        if(school_result[i].address_id != null) {
            checked = "checked";
        }

    %>

        <% } %>
    <br />




    <br/>
    <input type="submit" />
    <input type="hidden"
           id="school_id"
           name="school_id"
           value="<%= school_result.school_id %>"
    />


</form>
</body>
</html>